# Ignore everything
/*

# But not .gitignore itself
!.gitignore

# Unignore .config folder
!/.config/

# Unignore images folder
!/images/

# Unignore README file
!/README.md

# Ignore everything inside .config except for files
/.config/*

# Unignore powershell files inside .config
!/.config/powershell
