# Ignore everything
/*

# But not .gitignore itself
!.gitignore

# Unignore .config folder
!/.config/

# Unignore .wakatime-config folder
!/.wakatime-config/

# Unignore webstorm-settings folder
!/webstorm-settings

# Unignore visualstudio-settings folder
!/visualstudio-settings

# Unignore images folder
!/images/

# Unignore README file
!/.config/README.md

# Ignore everything inside .config except for files
/.config/*

# Unignore powershell files inside .config
!/.config/powershell
